/* Main Background  */
.main-background {
  background: linear-gradient(266deg, #36d1dc, #5b86e5);
  background-size: 400% 400%;

  -webkit-animation: main-background 45s ease infinite;
  -moz-animation: main-background 45s ease infinite;
  animation: main-background 45s ease infinite;
}

@-webkit-keyframes main-background {
  0%{background-position:0% 42%}
  50%{background-position:100% 59%}
  100%{background-position:0% 42%}
}
@-moz-keyframes main-background {
  0%{background-position:0% 42%}
  50%{background-position:100% 59%}
  100%{background-position:0% 42%}
}
@keyframes main-background {
  0%{background-position:0% 42%}
  50%{background-position:100% 59%}
  100%{background-position:0% 42%}
}